<h1>Editing Book</h1>
<%= form_with model: @book, url: update_book_path(@book.id),method: :patch, local:true do |f| %>
<p>title</p>
<%= f.text_field :title %>
<p>opinion</p>
<%= f.text_area :opinoin %>
<%= f.submit 'Update book' %>
<% end %>