// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 *{
   margin:0;   padding:0;   box-sizing:border-box;
   }
 ul{
   list-style: none;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
 }
 .col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
 }
 .mx-auto {
    margin-right: auto !important;
}
.mx-auto {
    margin-left: auto !important;
}
.container {
    max-width: 720px;
}
.bar(
)
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}