// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
   main{
     display: block;
   }
   .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   }

  .col-md-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .ml-5{
    padding: 50px;
  }

  .col-md-8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
